body{
    font-family: Calibri, 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', sans-serif;
    background-color: black;
    font-size: 1.25em;
}

h1 {
    font-size: 2em;
    clear: right;
}

.textbox {
    color: black;
    background-color: white;
    border-radius: 5px;
    max-width: 90%;
    max-height: 1000px;
    margin: 60px;
    padding: 100px;
    border: 25px;
    text-align: left;
    clear: right;
    overflow: auto;
}

.images {
    height: 280px;
    width: 280px;
    border-radius: 60px;
    border: 5px solid rgb(230, 230, 230);
    float: right;
    margin:-20% 0px 0px 30px;
}

 a:link {
    color: black;
    text-decoration: none;
    font-size: 0.75em;
    clear: right;
}

a:visited {
    color: black;
    text-decoration: none;
    font-size: 0.75em;  
    clear: right; 
}

a:hover {
    color: black;
    text-decoration: none;
    font-size: 0.75em;  
    clear: right;
}

a:active {
    color: black;
    text-decoration: none;
    font-size: 0.75em;
    clear: right;  
} 